@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --glass: rgba(255,255,255,0.06);
}

.glass {
  background: var(--glass);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.08);
  box-shadow: 0 10px 40px -12px rgba(0,0,0,0.5);
}
